# ======================
# Python
# ======================

__pycache__/
*.py[cod]
*$py.class

# ======================
# Virtual Environments
# ======================

.venv/
venv/
env/

# ======================
# Environment Variables
# ======================

.env
.env.*

# ======================
# IDE
# ======================

.vscode/
.idea/

# ======================
# Python Testing
# ======================

.pytest_cache/
.coverage
htmlcov/

# ======================
# Logs
# ======================

*.log

# ======================
# Temporary Files
# ======================

*.tmp
*.bak

# ======================
# OS Files
# ======================

Thumbs.db
.DS_Store

# ======================
# Node (future frontend)
# ======================

node_modules/
dist/
build/


# Generated pipeline outputs
backend/processed/*.json


cmmands.txt